# Secrets
.env

# Data
data/
*.csv
*.parquet
*.txt

# But DON'T ignore the .dvc files that track them
!*.dvc


# Python/Conda clutter
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Environments
env/
venv/
